<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/home/launchers/gdlauncher/"><button class="shadow_button">GDLauncher</button></a>
        <a href="/home/launchers/multimc/"><button class="shadow_button">MultiMC</button></a>
    </div>
    <div class="" style="text-align: center">
        In this category you will find information and guides about how to setup, manage and use launchers. As always you can also ask for help in our <a href="https://discord.shadownode.ca/" target="_blank">Discord</a>.
    </div>
</main>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>