<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<div class="wrapper">
    <div class="flex-nav" style="text-align: center">
        <a href="/home/commands"><button class="shadow_button">Commands</button></a>
        <a href="/home/guides"><button class="shadow_button">Guides</button></a>
        <a href="/home/launchers"><button class="shadow_button">Launchers</button></a>
        <a href="/home/guides/chunkloaders"><button class="shadow_button">Chunk Loaders</button></a>
<!--        <a href="/home/wipes"><button class="shadow_button">Server Reboots</button></a>-->
    </div>
</div>
    <div class="" style="text-align: center">
        In this category you will find all commands, guides, rules and answers to questions you may have about our server! As always you can also ask for help in our <a href="https://discord.shadownode.ca/">Discord</a>.
    </div>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>
