<header>
    <img alt="logo" src="/assets/images/logo_vert.png">
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/home/commands"><button class="shadow_button">Commands</button></a>
        <a href="/home/guides"><button class="shadow_button">Guides</button></a>
        <a href="/home/guides/launchers"><button class="shadow_button">Launchers</button></a>
        <a href="/home/guides/chunkloaders"><button class="shadow_button">Chunk Loaders</button></a>
    </div>
</main>