<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/home/guides/chunkloaders"><button class="shadow_button">Chunk Loaders</button></a>
        <a href="/home/guides/contributing/"><button class="shadow_button">Contributing</button></a>
        <a href="/home/guides/store/"><button class="shadow_button">Store and Perks</button></a>
        <a href="/home/guides/team-play/"><button class="shadow_button">Team Play</button></a>
    </div>
    <div class="" style="text-align: center">
        In this category you will find all guides and answers to questions you may have about our server! As always you can also ask for help in our <a href="https://discord.shadownode.ca/">Discord</a>.
    </div>
</main>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>