<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<div class="wrapper">
    <div class="" style="text-align: center;">
        <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <!-- in="sourceGraphic" -->
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                </filter>
            </defs>
        </svg>
        <h2 style="position:relative">Jump In and Join The Fun</h2>
        <a href="/servers" target="_blank"><button id="ourServers" class="gooey-button">Our Server IPs
            <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
        </button></a>
        <a href="/rules" target="_blank" style="margin: 3rem 0 0;"><button id="ourRules" class="gooey-button">Our
            Rules
            <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
        </button></a>
    </div>
    <div class="vote-section" style="margin-top: 2rem;">
        <h2 id="launchers" style="text-align: center">Suggested Launchers</h2>
        <div style="text-align: center;">
            <div class="flex-nav" style="text-align: center">
                <a href="/join/polymc"><button class="shadow_button">PolyMC (Recommended)</button></a>
                <a href="/join/ftbapp"><button class="shadow_button">FTB App</button></a>
                <a href="/join/curseforge"><button class="shadow_button">CurseForge</button></a>
            </div>
        </div>
        <img src="/assets/images/polymc/polymc_modpacks.png" alt="PolyMC Launcher">
        <p style="text-align: left">There used to be a number of choices as to what launchers you could use to
            connect to servers with, however, we've curated the above links and guides to enable you to be able to connect to our servers successfully. </p>
    </div>
    <div class="vote-section" style="margin-top: 2rem;">
        <h2 id="joining" style="text-align: center">Joining ShadowNode</h2>
        <p style="text-align: left">If you're looking to join ShadowNode and unsure how simply follow the steps
            below. If you follow these steps and still have issues, we typically can offer some advice in our <a
                    href="https://discord.shadownode.ca/">Discord</a> by using our Support section.</p>
        <ol style="text-align: left ">
            <li>Find your desired pack image and double click to start loading the pack.<br/>
                <img alt="Launching a pack" src="/assets/images/polymc/launching_1.png"/>
            </li>
            <li>Wait a few moments for the pack to start loading. You will see something like this show up after a
                short while. This process can take several minutes.
                <img alt="Loading Minecraft" src="/assets/images/polymc/launching_2.png"/>
            </li>
            <li>Once the pack is loaded click the "Multiplayer" button. This might be labeled different if you're
                not using English as your computer's language.
                <img src="/assets/images/polymc/launching_3.png"/>
            </li>
            <li>Accept the multiplayer warning by clicking the checkbox and then "Proceed".
                <img src="/assets/images/polymc/launching_4.png"/>
            </li>
            <li>Allow Java and Minecraft through the Firewall.
                <img src="/assets/images/polymc/launching_5_firewall.png"/>
            </li>
            <li>Click Add Server if you don't have our server already. You can get the desired pack-specific server IP
                <a href="/servers" target="_blank">here</a>. Enter the server IP in the box next to the 1. Click Done when complete.
                <img src="/assets/images/polymc/launching_6.png"/>
            </li>
            <li>Click the ShadowNode server you just added in your list. It should look something like the top box.
                After that click the Join button highlighted towards the bottom of your screen.
                <img src="/assets/images/polymc/launching_7.png"/>
            </li>
            <li>Wait while the server and your client talk and you are joined to the server. If anything goes wrong
                at this point please visit our <a href="https://discord.shadownode.ca/">Discord</a> and use our support section for further help .</li>
        </ol>
    </div>
</div>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>