<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<div class="wrapper">
    <div class="" style="text-align: center;">
        <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <!-- in="sourceGraphic" -->
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                </filter>
            </defs>
        </svg>
        <h2 style="position:relative">Jump In and Join The Fun</h2>
        <a href="/servers" target="_blank"><button id="ourServers" class="gooey-button">Our Server IPs
            <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
        </button></a>
        <a href="/rules" target="_blank" style="margin: 3rem 0 0;"><button id="ourRules" class="gooey-button">Our
            Rules
            <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
        </button></a>
    </div>
    <div class="vote-section" style="margin-top: 2rem;">
        <h2 id="launchers" style="text-align: center">Suggested Launchers</h2>
        <div style="text-align: center;">
            <div class="flex-nav" style="text-align: center">
                <a href="/join/ftbapp"><button class="shadow_button">FTB App</button></a>
                <a href="/join/curseforge"><button class="shadow_button">CurseForge</button></a>
            </div>
        </div>
        <p style="text-align: left">There used to be a number of choices as to what launchers you could use to
            connect to servers with, however, we've curated the above links and guides to enable you to be able to connect to our servers successfully. </p>
        <p style="text-align: left">If you need further assistance with using one of the launchers listed above please feel free to join our <a href="https://discord.shadownode.ca">Discord</a> and ask for help in the support section.</p>
    </div>
</div>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>
