<header>
    <img alt="logo" src="/assets/images/logo_vert.png?featherlight=false">
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/modpack-tips/1-16_packs/"><button class="shadow_button">1.16 vs 1.12 Packs</button></a>
        <a href="/modpack-tips/poz3/"><button class="shadow_button">POZ3</button></a>
        <a href="/modpack-tips/mc-eternal/"><button class="shadow_button">MC Eternal</button></a>
    </div>
    <div class="" style="text-align: center">
        Check out the links above for some of our popular tips as well as the navigation menu for more options. As always you can also ask for help in our <a href="https://discord.shadownode.ca/">Discord</a>.
    </div>
</main>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>