<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/modpack-tips/useful-mods/"><button class="shadow_button">Useful Mods</button></a>
    </div>
    <div class="" style="text-align: center">
        Check out the links above for some of our popular tips as well as the navigation menu for more options. As always you can also ask for help in our <a href="https://discord.shadownode.ca/" target="_blank">Discord</a>.
    </div>
</main>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>
