<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<main>
    <div class="flex-nav" style="text-align: center">
        <a href="/server-info/vote"><button class="shadow_button">Vote</button></a>
        <a href="/server-info/servers"><button class="shadow_button">Servers</button></a>
        <a href="/server-info/staff"><button class="shadow_button">Staff</button></a>
        <a href="/server-info/ranks/"><button class="shadow_button">Ranks</button></a>
        <a href="/server-info/rules"><button class="shadow_button">Rules</button></a>
        <a href="/server-info/wipes"><button class="shadow_button">Server Restarts</button></a>
    </div>
    <div class="" style="text-align: center">
        Here you will find information about what ShadowNode is, what our policies are, and who’s on our staff team. As always you can also ask for help in our <a href="https://discord.shadownode.ca/">Discord</a>.
    </div>
</main>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>