:root{

    --MAIN-TEXT-color: white; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #D8D8D8; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#B75FCC; /* Color of links */
    --MAIN-LINK-HOVER-color:#B145B8; /* Color of hovered links */
    --MAIN-ANCHOR-color: #33a1ff; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#633884; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#4A2A63; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#4A2A63; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #385984; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color:#161A1D; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: aqua; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #161A1D; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2D3033; /* Color of <hr> separator in menu */

}

@media (prefers-color-scheme: dark) {
    body {
        color: #2D3033;
        /*color: white;*/
    }
}

body {
    background: #2D3033;
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1 {
    color: aqua;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

th {
    background: #161A1D;
    border-color: var(--MENU-SECTIONS-BG-color);
    text-align: center;
}

td {
    border-color: var(--MENU-SECTIONS-BG-color);
}

table {
    border-color: var(--MENU-SECTIONS-BG-color);
    color: var(--MAIN-TITLES-TEXT-color);
    width: 50%;
}

#footer p {
    position: fixed;
    bottom: 0;
    margin-bottom: 2px;
}

.belowsearchbutton {
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid rgb(100, 106, 112)
}

#top-bar {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);

}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    border: solid 1px #2D3033;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

code + .copy-to-clipboard {
    height: 19px;
    width: 21px;
    color: #f10202;
    background-color: #ffffff;
}

code  {
    background-color: rgb(47, 50, 51);
    color: var(--MENU-SEARCH-BOX-ICONS-color);
    border-color: rgb(100, 106, 112)
}

.tags a.tag-link {
    opacity: 0;
    visibility: hidden;
}

div.notices.note p {
  background: rgb(21, 31, 31);
  color: rgb(228, 235, 241);
}
