:root {

    --MAIN-TEXT-color: white; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #D8D8D8; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #B75FCC; /* Color of links */
    --MAIN-LINK-HOVER-color: #B145B8; /* Color of hovered links */
    --MAIN-ANCHOR-color: #33a1ff; /* color of anchors on titles */
    --MAIN-BG-color: #2D3033;

    --MENU-HEADER-BG-color: #633884; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #4A2A63; /*Color of menu header border */
    --MENU-MAIN-BG-color: rgb(32, 39, 43);
  
  
    --MENU-SEARCH-BG-color: #4A2A63; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #385984; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b; /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: #161A1D; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: aqua; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #161A1D; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2D3033; /* Color of <hr> separator in menu */
  
    --MERMAID-theme: dark; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --SWAGGER-theme: dark; /* name of the default Swagger theme for this variant, can be overridden in config.toml */
  
    --BOX-CAPTION-color: rgba( 240, 240, 240, 1 ); /* color of the title text */
    --BOX-BG-color: rgb(21, 31, 31);
        /*rgba( 20, 20, 20, 1 ); !* color of the content background *!*/
    --BOX-TEXT-color: #e0e0e0; /* automatic color of the content text */
    --CODE-INLINE-BG-color: rgb(47, 50, 51);
    --CODE-BLOCK-BG-color: rgb(47, 50, 51);
    --CODE-INLINE-color: #a1d2fd;
    --CODE-BLOCK-color: #a1d2fd;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #2D3033;
        background-color: #2D3033 !important;
        /*color: white;*/
    }
}

body {
    background: #2D3033;
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: unset;
    box-shadow: none;
}

h1 {
    color: aqua;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

th {
    background: #161A1D;
    border-color: var(--MENU-SECTIONS-BG-color);
    text-align: center;
}

td {
    border-color: var(--MENU-SECTIONS-BG-color);
}

table {
    border-color: var(--MENU-SECTIONS-BG-color);
    color: var(--MAIN-TITLES-TEXT-color);
    width: 50%;
}

#footer p {
    /*position: fixed;*/
    text-align: center;
    bottom: 0;
    margin-bottom: 2px;
}

.belowsearchbutton {
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid rgb(100, 106, 112);
    background-color: #252627;
}

div.notices.note {
    background-color: #151f1f;
    border-color: #ffa01e;
}

div.notices.note p {
    background: #161A1D;
}

div.notices.warning p {
    border-top: none !important;
    background: none !important;
}

div.notices.warning {
    background: #161A1D;
    border-color: #fb1b17;
}

div.notices p {
    color: #E7F2FA;
}

#top-bar {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);

}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    border: solid 1px #2D3033;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

code + .copy-to-clipboard {
    height: 19px;
    width: 21px;
    color: #f10202;
    background-color: white;
}

code {
    background-color: rgb(47, 50, 51);
    color: var(--MENU-SEARCH-BOX-ICONS-color);
    border-color: rgb(100, 106, 112)
}
.tags {
  display: none;
}
.tags a.tag-link {
    opacity: 0;
    visibility: hidden;
}

div.notices.note p {
    background: rgb(21, 31, 31);
    color: rgb(228, 235, 241);
}

div.notices.warning p {
    border-top: 30px solid rgb(255, 85, 85);
    background: rgba(217, 83, 79, 0.8);
}

#TableOfContents {
    background-color: #262729;
}

#TableOfContents > ul > li > a {
    font-weight: bold;
    padding: 0 3px;
    margin: 0 2px;
}

.append {
    visibility: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Optional image? */
    /* background-image: url('../images/default.gif'); */
    background-repeat: no-repeat;
    background-color: #2D3033;
    background-position: center;
}

/* Bubbles for Votes Page */
svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
  }

  .gooey-button {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    color: #0c1016;
    position: relative;
    background-color: #8451a1;
  }

  .gooey-nice {
      filter: url('#gooey');
  }

  .gooey-button:focus {
    outline: none;
  }
  .gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .gooey-button .bubbles .bubble {
    background-color: #8451a1;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  .gooey-button .bubbles .bubble:nth-child(1) {
    left: 53px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-1 3.02s infinite;
            animation: move-1 3.02s infinite;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .gooey-button .bubbles .bubble:nth-child(2) {
    left: 97px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-2 3.04s infinite;
            animation: move-2 3.04s infinite;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .gooey-button .bubbles .bubble:nth-child(3) {
    left: 74px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-3 3.06s infinite;
            animation: move-3 3.06s infinite;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .gooey-button .bubbles .bubble:nth-child(4) {
    left: 97px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-4 3.08s infinite;
            animation: move-4 3.08s infinite;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .gooey-button .bubbles .bubble:nth-child(5) {
    left: 28px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-5 3.1s infinite;
            animation: move-5 3.1s infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .gooey-button .bubbles .bubble:nth-child(6) {
    left: 74px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-6 3.12s infinite;
            animation: move-6 3.12s infinite;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .gooey-button .bubbles .bubble:nth-child(7) {
    left: 56px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-7 3.14s infinite;
            animation: move-7 3.14s infinite;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .gooey-button .bubbles .bubble:nth-child(8) {
    left: 91px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-8 3.16s infinite;
            animation: move-8 3.16s infinite;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  .gooey-button .bubbles .bubble:nth-child(9) {
    left: 50px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-9 3.18s infinite;
            animation: move-9 3.18s infinite;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  .gooey-button .bubbles .bubble:nth-child(10) {
    left: 100px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-10 3.2s infinite;
            animation: move-10 3.2s infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  
  @-webkit-keyframes move-1 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -55px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  
  @keyframes move-1 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -55px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-2 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -96px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-2 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -96px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-3 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -51px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-3 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -51px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-4 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -121px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-4 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -121px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-5 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -106px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-5 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -106px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-6 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -95px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-6 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -95px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-7 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -121px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-7 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -121px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-8 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -79px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-8 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -79px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-9 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -109px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-9 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -109px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes move-10 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -60px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes move-10 {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -60px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }


  /* Servers */
  
#servers-link {
  color: white;
  font-size: 30px;
}

#serversLogo {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}


#serverModal {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 0;
  background-color: rgba(0,0,0,0.4) !important;
  display: none;
  z-index: 9998 !important;
}

.serverModalContent {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  padding-bottom: 5%;
  left: 0;
  bottom: 0;
  overflow: scroll;
  z-index: 9999 !important;
  background-color: #2D3033;
}

.modalHeader {
  background-color: #633884;
  color: #FFF;
}

.modalHeader h2 {
  margin-top: 0 !important;
}

.modalBody {
  margin: auto;
  width: 80%;
  max-width: 500px;
}

.modalLink {
  color: #FFF;
  border-radius: 6px;
  padding: 6px;
  background-color: #633884;
  border-color: #633884;
}

.modalLink:hover {
  color: #FFF;
  animation: buttonGlow;
}


@keyframes buttonGlow {
  0% {
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    box-shadow: 0 0 3px #2ba805;
  }
}
@-webkit-keyframes spin {
  from {
      -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
      -ms-transform: translate(-50%, -50%) rotateZ(0deg);
      transform: translate(-50%, -50%) rotateZ(0deg)
  }
  to {
      -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
      -ms-transform: translate(-50%, -50%) rotateZ(360deg);
      transform: translate(-50%, -50%) rotateZ(360deg)
  }
}

@keyframes spin {
  from {
      -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
      -ms-transform: translate(-50%, -50%) rotateZ(0deg);
      transform: translate(-50%, -50%) rotateZ(0deg)
  }
  to {
      -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
      -ms-transform: translate(-50%, -50%) rotateZ(360deg);
      transform: translate(-50%, -50%) rotateZ(360deg)
  }
}



.loading {  
  position: relative !important;
  margin: 50% 0;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  height: 250px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: #633884;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #633884;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  z-index: 10000;
}
@media screen and (max-width: 600px) {
  .loading  {
    position: relative;
    margin: 70% 0;
    left: 50%;
  }
  #topbar {
  
  }
  #breadcrumbs {
    padding: 0 2%;
  }
}
@media screen and (min-width: 601px) {
  .loading {
    position: relative;
    margin: 40% 0;
  }
  #topbar {
    margin: 2%;
  }
}

#loading-text {
  margin-top: 45%;
  left: 50%;
  position: relative;
  float: left;
  transform: translate(-50%, -50%);
}

.loading:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #633884;
  border-right: 3px solid #633884;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}

@keyframes animateCircle {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(405deg);
  }
}

#serversWrapper {
  width: calc(100% + 6rem);
  margin: 1rem -3rem;
  display: block;

}

#server-table {
  /* max-width: 1300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#serversWrapper > * {
  flex-shrink: 1;
}

.topbar {
  color: #eee;
  padding: 10px 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 20px;
  display: block;
  font-size: 0.8em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  /*background: #2D3033 !important;*/
  background-color: rgb(32, 39, 43) !important;
  z-index: 998;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  border: 5px #0079d3;
  width: auto;
  margin: 0 0 0 0;
  top: 4%;
  /* left: 4%; */
  font-family: "Open Sans", Arial, Helvetica, serif;
}

.topbar:hover .server-anchor {
  display: inline-block;
}

.server-anchor {
  display: none;
  position: relative;
}

.server-tooltip {
  display: inline;
  font-size: 0.8em;
  position: absolute;
  margin-bottom: 0;
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: -60px;
  z-index: 10000 !important;
}

.highlight-server {
  background-color:darkorchid !important;
}
.col {
  flex: 25%;
  padding: 10px;
  max-width: 260px;
  box-sizing: border-box;
}
@media screen and (min-width: 2000px) {
  #body-inner {
    /*max-width: 1300px !important;*/
  }
  .col  {
    flex: 20% !important;
  }
}
@media screen and (max-width: 980px) {
  .col {
      flex: 50% !important;
  }
  .chart {
    width: 206px !important;
  }
}

@media screen  and (max-width: 800px) {
  .col {
    flex: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .col {
      flex: 100%;
  }
}

.table {
  background: #2D3033;
  padding: 4px 10px;
  font-family: "Open Sans", Arial, Helvetica, serif;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
  align-items: center;
  text-align: center;
}

.table h2 {
  text-transform: uppercase;
  font-size: 15px;
}

.table ul {
  margin: 0;
  padding: 0;
}

.table ul li {
  padding: 5px 0;
  list-style: none;
}
.table a.highlight, #body a.highlight:hover, #body a.highlight:focus {
  text-decoration: none;
  outline: none;
  outline: 0;
}
.table a.highlight {
  line-height: 1.1;
  display: inline-block;
}
.table a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0;
  background-color: #B145B8;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.table a.highlight:hover:after, #body a.highlight:focus:after {
  width: 100%;
}
.table a {
  color: #b75fcc;
}
.iplink {
  text-decoration: none;
  background: #2D3033 100%;
  border: 2px solid rgba(202, 144, 200, 0.61);
  display: block;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 13px;
  transition: 0.5s linear;
}

.iplink:hover {
  background: rgba(202, 144, 200, 0.61);
  color: black;
}

.tooltip {
  position: relative;
  margin-bottom: 0;
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  z-index: 10000 !important;
}


#tooltip {
    position: absolute !important;
    margin-bottom: 150% !important;
}

.tooltip-hover {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
}

.tooltip-hover a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.tooltip-hover .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-hover .tooltip-text::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-hover:hover .tooltip-text {
  visibility: visible;
}

.status {
  padding-top: 2px;
  padding-bottom: 1px;
  border-radius: 5px;
}

.online {
  background: #00bc8c !important;
  box-shadow: 0 0 0 2px #00bc8c;
}

.offline {
  background: #e74c3c !important;
  box-shadow: 0 0 0 2px #e74c3c;
}

.server-info {
  font-size: 12px;
  overflow: hidden;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-block-start: 1px;
  margin-left: 10px;
  margin-right: 10px;
}



dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 0;
  color: white;
}

dt {
  grid-column-start: 1;
  text-align: left;
  font-weight: bold;
  margin-right: 5px;
}

dd {
  grid-column-start: 2;
  text-align: right;
  padding-bottom: 5px;
  margin-inline-start: unset;
}

.extendBtn {
  background: none;
  border: solid 1px #383b4c;
  color: white;
  outline: none 0;
  width: 100%;
  margin-bottom: 10px;
}

.extended-info {
  opacity: 1;
}

.active {
  visibility: visible;
  opacity: 1;
}


form {
  margin: 10px auto;
  width: 400px;
  padding: 1em;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 1em;
  color: white;
  background-color: #2D3033;
  text-align: center;
}

form ul, form ol {
  padding: 0;
  margin: 0;
  display: inline-block;
  align-content: center;
}

form li + li {
  margin-top: 1em;
}

.form-switch {
  margin-top: 0;
  margin-left: 0;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(71, 71, 71);
  background-color: #2D3033;
  color: white;
  padding: 6px;
}

label {
  display: inline-block;
  text-align: center;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid rgb(71, 71, 71);
  background-color: rgb(61, 64, 67);
  color: var(--MAIN-TEXT-color);
  padding: 3px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.chart {
  width: 206px;
  height: 80px;

}
.bottomchart {
  padding-bottom: 20px !important;
}

/* Voters */
.vote-section {
  border-top: 1px solid #8451a1;
  padding-bottom: 2rem;
}
.no-dot {
  text-align: center;
}
.no-dot > li {
  list-style-type: none !important;
  padding-left: 0px !important;
}

#voter-wrapper {
  display: block;

}

#voter-table {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 20px;
  flex-direction: row;
}

.voter-heading {
  width: 100%;
  flex-grow: 3;
  flex-shrink: 1;
  text-align: center;
  clear: both;

}

.voter-data {
  text-align: center;
}

.player-head {
  justify-content: center;
  padding-bottom: 20px;
  width: 75% !important;
  max-width: 100px !important;
}

.voter-col {
  padding: 5px 25px;
}

.voter-container { 
  display: block;
}

.single-voter {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .voter-col {
    padding: 5px 0;
  }
  .voter-info {
    display: block;
  }

  .voter-data { 
      display: block;
      text-align: center;
  }
  .player-head {
    display: block;
    margin: auto;
    width: 50px;

  }
  .voter-heading {
    clear: none;
  }
}

.server-glow {
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}
@keyframes glow {
    0%,100% {
      box-shadow: 1px 1px #b75fcc, 0 0 20px 5px #b75fcc, inset 2px 2px #b75fcc;
    }
    50% {
      box-shadow: 1px 1px #b75fcc, 0 0 16px 8px #333, inset 2px 2px #D3FFEC;
    }
}

.shadow_button {
  background-color: #8451a1;
  color: #FFF;
  margin: 5px;
  padding: 0.7rem;
  font-size: 1.1rem;
  border-radius: 5px;
}
.shadow_button:hover {
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

/* Staff Page */
#staffWrapper {
  display: block;
  margin: auto;
  max-width: 600px !important;
}

#staffGrid {
  display: flex;
  flex-wrap: wrap;
  
}

.rankDescription {
  width: 100%;
  text-align: center;
}

.rank-header {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  clear: both;
  flex: 100%;
}
.staffRow {
  padding-top: 30px;
  flex: 30% !important;
  flex-grow: 1;
  flex-shrink: 1;
 
}
.staffRowInner {
  display: block;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
  width: 180px;
  
}
.staffRowInner:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.staffHead > img {
  text-align: center;
  display: block;
  margin: 0 auto;
  
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}

.staffName {
  padding: 0 20px;
  width: max-content;
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}

#topbar {
  margin-top: 1%;
}
