@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #B145B8, #633884);
    height: 100vh;
}

#container {
    position: absolute;
/*    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/p404.png') #633884;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#container .content {
    max-width: 600px;
    text-align: center;
}

#container .content h2 {
    font-size: 18vw;
    color: #fff;
    line-height: 1em;
}

#container .content h4 {
    position: relative;
    font-size: 1.5em;
    color: #111;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}

#container .content p {
    color: #fff;
    font-size: 1.2em;
}

#container .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #B145B8;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #B145B4;
}