---
---

@import "{{ site.theme }}";

//For overriding the wiki areas css!

footer {
  font-size: 10px;
  color: #aaa;
  position: absolute;
  text-align: center;
  bottom: auto;
  left: 0;
  right: 0;
}