<div class="searchbox">
    <label for="search-by"><i class="fas fa-search"></i></label>
    <input data-search-input id="search-by" type="search" placeholder="{{T " Search-placeholder"}}">
    <span data-search-clear=""><i class="fas fa-times"></i></span>
</div>
<div class="belowsearch">
    <a href="https://shop.shadownode.ca/" target="_blank">
        <button id="Shop" class="belowsearchbutton"><i class="fas fa-shopping-basket"></i> Shop</button>
    </a>
    <a href="{{.Site.BaseURL}}/votes">
        <button id="Vote" class="belowsearchbutton"><i class="fas fa-check-square"></i> Vote</button>
    </a>
    <a href="{{.Site.BaseURL}}/rules">
        <button id="Rules" class="belowsearchbutton"><i class="fas fa-list"></i> Rules</button>
    </a>
    <a href="https://discord.shadownode.ca/" target="_blank">
        <button id="Discord" class="belowsearchbutton"><i class="fab fa-discord"></i> Discord</button>
    </a>
    <a href="{{ .Site.BaseURL }}/servers">
        <button id="servers" class="belowsearchbutton"><i class="fas fa-server"></i> Servers</button>
    </a>
</div>

{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript">
    var index_url={{ "index.json" | relLangURL }};
    var root_url="/";
    var baseUri=root_url.replace(/\/$/, '');
    {{ if .Site.IsMultiLingual }}
    var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
    var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
</script>
<script src="{{ "js/search.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
