<div class="searchbox">
    <label for="search-by"><i class="fas fa-search"></i></label>
    <input data-search-input id="search-by" type="search" placeholder="{{T " Search-placeholder"}}">
    <span data-search-clear=""><i class="fas fa-times"></i></span>
</div>
<div class="belowsearch">
    <a href="https://shop.shadownode.ca/">
        <button id="Shop" class="belowsearchbutton"><i class="fas fa-shopping-basket"></i> Shop</button>
    </a>
    <a href="{{.Site.BaseURL}}/votes.html">
        <button id="Vote" class="belowsearchbutton"><i class="fas fa-check-square"></i> Vote</button>
    </a>
    <a href="#">
        <button id="Discord" class="belowsearchbutton"><i class="fab fa-discord"></i> Discord</button>
    </a>
    <a href="{{ .Site.BaseURL }}/servers.html">
        <button id="servers" class="belowsearchbutton"><i class="fas fa-server"></i> Servers</button>
    </a>
    <a href="{{ .Site.BaseURL }}/forms.html">
        <button id="forms" class="belowsearchbutton"><i class="fas fa-edit"></i> Forms</button>
    </a>
</div>

{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript">
    {{ if .Site.IsMultiLingual }}
    var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
    var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
</script>
<script type="text/javascript" src="{{"js/search.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
