<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="./assets/images/favicon.png">
    <link rel="apple-touch-icon" href="./assets/images/ShadowNode_Test_alt3.png">
    <link rel="canonical" href="https://www.shadownode.ca/">
    <meta property="og:description" content="Welcome to ShadowNode! We specialise in modded game servers and strive to offer a friendly and comfortable environment for our players. Join now!">
    <meta property="og:site_name" content="ShadowNode Modded Game Servers">
    <meta property="og:image" content="images/ShadowNode_Test_alt3.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.shadownode.ca/">
    <meta property="og:title" content="ShadowNode Modded Game Servers">
    <meta name="twitter:site" content="@ShadowNodeMC">
    <meta name="keywords"
          content="shadownode, modded server, modded minecraft, modded, game, servers, minecraft server, minecraft, shadownode server, ftb, feed the beast, atm6, all the mods 6, revelation, ftb revelation,
          direwolf, direwolf20, dw20, modded 1.16, modded 1.18,
          skyfactory, skyfactory 3, sky factory 4,  sky factory,
          crates, grief prevention, ftb server list, server list, curseforge packs, curseforge,
          networks, network, server networks,
          vanilla, vanilla server">

    <title>ShadowNode Modded Game Servers</title>
    <script defer src="/fontawesome/js/all.min.js"></script>
    <meta name="description" content="Welcome to ShadowNode! We specialise in modded game servers and strive to offer a friendly and comfortable environment for our players. Join now!">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="//fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style></style>
</head>
<body>

<div id="wrapper">
    <img class="swirl big" alt="swirl_big" src="./assets/images/vortex_swirl.png" width="0">
    <img class="swirl small" alt="swirl_small" src="./assets/images/vortex_swirl.png" width="0">
    <div class="wrapper">
        <header>
            <img alt="logo" src="./assets/images/logo_vert.png">
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/join" class="btnIcon" tabindex="1">
                        <i class="fa-solid fa-book fa-fw"></i>
                    </a>
                    <div class="btnDesc">Wiki</div>
                </li>
                <li>
                    <a href="/servers/" class="btnIcon" tabindex="2">
                        <i class="fa-solid fa-server fa-fw"></i>
                    </a>
                    <div class="btnDesc">Servers</div>
                </li>
                <li>
                    <a href="/votes" class="btnIcon" tabindex="3">
<!--                        <i class="fa-solid fa-list-check fa-fw"></i>-->
                        <i class="fa-solid fa-check-to-slot fa-fw"></i>
                    </a>
                    <div class="btnDesc">Vote!</div>
                </li>
                <li>
                    <a href="https://shop.shadownode.ca/" class="btnIcon" tabindex="3">
                        <i class="fa-solid fa-bag-shopping fa-fw"></i>
                    </a>
                    <div class="btnDesc">Shop</div>
                </li>
            </ul>
        </nav>
        <div id="onlinePlayers" class="players">There are X players online</div>

        <footer>
            <span id="copy">©2014-2022 ShadowNode.</span>
        </footer>
    </div>


</div>
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text().split(":")[1].trim()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    jQuery(function($) {
        $('div.onlinePlayers')
            .on('click', function() {
                copyToClipboard('#onlinePlayers');
                alert("IP copied to clipboard");
            });
    });
</script>
</body>
</html>
