<div id="serverModal" class="modal">
    <div class="serverModalContent">
        <div class="modalHeader">
            <h2>Pack Info</h2>
        </div>
        <div class="modalBody">
            Please click the button below to download the desired pack. Please note that this will create a ZIP archive that you'll have to import into MultiMC using <a href="#">this guide</a>. <br/><br/>
            <button class="shadow_button">Download pack</button>
        </div>

    </div>
</div>
<div class="wrapper">

    <div id="loading" class="loading">
        <p id="loading-text">Loading</p>
    </div>
    <!-- <div class="wrapper" id="serversWrapper" style="display: none"> -->
    <div id="serversWrapper" style="display: none">
        <div id="server-table">
            <template id="server-template">
                <div class="col">
                    <div id='server-block'>
                        <div class="topbar" id="server-name"></div>
                        <div class="table">
                            <dl class="server-info">
                                <dt>Pack:</dt>
                                <dd id="pack"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Pack Version:</dt>
                                <dd id="pack-version"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Players:</dt>
                                <dd id="players"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Uptime:</dt>
                                <dd id="uptime"></dd>
                            </dl>
                            <div class="tooltip-hover">
                                <a id="ip" class="iplink"></a>
                                <span class="tooltip-text">Click to copy ip!</span>
                            </div>
                            <dl class="server-info">
                                <dt>This Week:</dt>
                                <dd id="t-week"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Todays Record:</dt>
                                <dd id="t-record"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Weekly Record:</dt>
                                <dd id="w-record"></dd>
                            </dl>
                            <dl class="server-info">
                                <dt>Monthly Record:</dt>
                                <dd id="m-record"></dd>
                            </dl>
                            <dl class="server-info staff-time">
                                <dt>Staff last seen:</dt>
                                <dd id="staff-time"></dd>
                            </dl>
                            <div class="server-info" id="pack-link">
                                <a onclick="showModal()">Pack Download</a>
                            </div>
                            <div id="player-chart" class="info chart"></div>
                            <div id="tps-chart" class="info bottomchart chart"></div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<script data-cfasync="false" type="text/javascript" src="/assets/js/jquery.flot.js"></script>
<script data-cfasync="true" type="text/javascript" src="/assets/js/jquery.flot.crosshair.js"></script>
<script data-cfasync="true" type="text/javascript" src="/assets/js/jquery.flot.tooltip.js"></script>
<script data-cfasync="false" type="text/javascript" src="/assets/js/jquery.flot.time.js"></script>
<script src="/assets/js/servers.js" type="text/javascript"></script>
<script src="/assets/js/modal.js" type="application/javascript"></script>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>