<!---
    Many thanks to all the staff who have been here and are still around.
    We've never had gotten to where we are now without all of you and ShadowKitten
-->
<div id='staffTable'>
    <template id='rankTemplate'>
        <div id='staffRank' class="rank-header"></div>
    </template>
    <template id='staffTemplate'>
        <div class="staffRow">
            <div class="staffRowInner">
                <div id='staffHead' class='staffHead'></div>
                <div id='staffMember'class='staffName'></div>
            </div>
        </div>
    </template>
    <div id='staffGrid'>

    </div>
</div>
<script src='/assets/js/staff.js' type='text/javascript'></script>
