<div class="wrapper">
    <header>
        <a href="/home" tabindex="3">
            <img alt="logo" src="/assets/images/logo_vert.png">
        </a>
    </header>
    <div class="" style="text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <!-- in="sourceGraphic" -->
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                </filter>
            </defs>
        </svg>
        <h1 style="z-index: 999;position:relative">Earn tokens by voting here</h1>
            <a href="https://ftbservers.com/server/z7RYUyxE/vote" target="_blank"><button id="gooey-button">FTB Servers                    
            <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span></button></a>
        <a href="http://minecraft-mp.com/server/156002/vote/" target="_blank"><button id="gooey-button">Minecraft-MP                    
            <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span></button></a>
    </div>
</div>