<div id="voter-warpper">
    <div id="voter-table">
        <template id="voter-template">
            <div class="voter-col">
                <div class="table">
                    <div class="voter-container">
                        <div class="single-voter">
                            <div class="voter-info" id="voter-head"></div>
                            <div class="voter-data" id="voter-data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>        
<script src="/assets/js/voters.js" type="text/javascript"></script>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>