<div class="wrapper">
    <!-- <header>
        <a href="/home" tabindex="3">
            <img alt="logo" src="/assets/images/logo_vert.png">
        </a>
    </header> -->
    <div class="" style="text-align: center;">
        <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <!-- in="sourceGraphic" -->
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                </filter>
            </defs>
        </svg>
        <h2 style="z-index: 999;position:relative">Earn tokens by voting here</h2>
            <a href="https://ftbservers.com/server/z7RYUyxE/vote" target="_blank"><button id="vote1" class="gooey-button">FTB Servers
                <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
            </button></a>
        <a href="https://minecraft-mp.com/server/156002/vote/" target="_blank"><button id="vote2" class="gooey-button">Minecraft-MP
            <span class="bubbles">
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </span>
        </button></a>
    </div>
</div>
<script type="text/javascript">
    //Safari Sucks you get NOTHING (for now)
    if (!(navigator.userAgent.indexOf('Safari') !== -1  && navigator.userAgent.indexOf('Chrome') === -1)) {
        document.getElementById('vote1').classList.add('gooey-nice');
        document.getElementById('vote2').classList.add('gooey-nice');
    }
</script>