<div class="voter-heading">
    <h3>Top 3 Voters</h3>
</div>

<div id="voter-warpper">
    <div id="voter-table">
        <template id="voter-template">
            <div class="voter-col">
                <div class="table">
                    <br/>
                    <div class="voter-info" class="player-head voter-tooltip" id="voter-head">
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>        
<script src="/assets/js/voters.js" type="text/javascript"></script>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>