<header>
    <a href="/home/"><img alt="logo" src="/assets/images/logo_vert.png?featherlight=false"></a>
</header>
<div class="wrapper">
    <div class="" style="text-align: center;">
        <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <!-- in="sourceGraphic" -->
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                </filter>
            </defs>
        </svg>
        <h2 style="position:relative">Earn tokens by voting here</h2>
            <a href="https://ftbservers.com/server/z7RYUyxE/vote" target="_blank"><button id="vote1" class="gooey-button">FTB Servers
                <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
            </button></a>
        <a href="https://minecraft-mp.com/server/156002/vote/" target="_blank"><button id="vote2" class="gooey-button">Minecraft-MP
            <span class="bubbles">
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </span>
        </button></a>
    </div>
    <div class="vote-section" style="margin-top: 2rem;">
        <h2 style="text-align: center">Why Vote</h2>
        <div style="text-align: center">
            <ul class="no-dot">
                <li>Voting increases our rank and reputation on voting websites. This can result in new players joining</li>
                <li>The tokens you get from voting are a global form of currency which you can trade in for rewards.<br/>
                    <img src="/assets/images/voting_rewards.png?featherlight=false" alt="Voting Rewards"/>
                </li>
                <li>We have a monthly giveaway of Steam Game Keys for permanent copies of certain games for the Top 3 Voters!</li>
                <li>More details can be found on our Wiki entry about <a href="/home/guides/voting/">voting and rewards</a>.</li>
            </ul>
        </div>
    </div>
    <div class="vote-section" style="border-bottom: 1px solid #8451a1;">
        <h2 style="text-align: center">The Voting System</h2>
        <div style="text-align: center">
            <ul class="no-dot">
                <li>We have 2 voting website we are listed on. Each of which you can use to vote on, once per day.</li>
                <li>You vote by filling in your Minecraft username in the text window and completing the Captcha.</li>
                <li>Voting gives you 100 Tokens per voting website, which can be used for in-game items or currency.</li>
            </ul>
        </div>
    </div>
    <div id="voter-warpper">
        <h2 style="text-align: center;">Top Voting Members</h2>
        <div id="voter-table">
            <div class="top3-stat" id="current-top">
                <h3>Current Top 3</h3>
            </div>
            <div class="top3-stat" id="last-top">
                <h3>Last Month Top 3</h3>
            </div>
            <div class="top3-stat" id="token-top">
                <h3>Top 3 Tokens</h3>
            </div>

            <template id="voter-template">
                <div class="voter-col">
                    <div class="table">
                        <div class="voter-container">
                            <div class="single-voter">
                                <div class="voter-info" id="voter-head"></div>
                                <div class="voter-data" id="voter-data"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<script src="/assets/js/voters.js" type="text/javascript"></script>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>
<script type="text/javascript">
    //Safari Sucks you get NOTHING (for now)
    if (!(navigator.userAgent.indexOf('Safari') !== -1  && navigator.userAgent.indexOf('Chrome') === -1)) {
        document.getElementById('vote1').classList.add('gooey-nice');
        document.getElementById('vote2').classList.add('gooey-nice');
    }
</script>