<div id="voter-warpper">
    <h2 style="text-align: center;">Top Voting Members</h2>
    <div id="voter-table">
            <div id="current-top">
                <h3>Current Top 3</h3>
            </div>    
            <div id="last-top">
                <h3>Last Month Top 3</h3>
            </div>
            <div id="token-top">
                <h3>Top 3 Tokens</h3>
            </div>
        
        
        <template id="voter-template">
            <div class="voter-col">
                <div class="table">
                    <div class="voter-container">
                        <div class="single-voter">
                            <div class="voter-info" id="voter-head"></div>
                            <div class="voter-data" id="voter-data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>        
<script src="/assets/js/voters.js" type="text/javascript"></script>
<script src="/assets/js/remove-pagetitle.js" type="text/javascript"></script>